<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Management</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
    <div class="container" >
        <h1 class="typing-animation">Video Management</h1>
        <div class="options">
            <a href="/upload" class="option fire-button">
                Upload Videos
                <img src="static/icons/up.png" alt="Upload Icon" class="button-icon"> <!-- Icon on the right -->
            </a>
            <a href="/archive" class="option fire-button">
                My Videos
                <img src="static/icons/arch.png" alt="Archive Icon" class="button-icon"> <!-- Icon on the right -->
            </a>
        </div>
        <div class="policy-link">
            <a href="/upload-policy">Upload Policy</a>
        </div>
    </div>
</body>
</html>


{% endblock %}
