

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
    </style>
    <script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://zovidree.com/tag.min.js',7753891,document.body||document.documentElement)</script>
</head>
<body>

<script type="application/javascript">
    var ad_idzone = "5370856",
    ad_popup_fallback = false,
    ad_popup_force = true,
    ad_chrome_enabled = true,
    ad_new_tab = true,
    ad_frequency_period = 30,
    ad_frequency_count = 3,
    ad_trigger_method = 1,
    ad_trigger_delay = 10;
</script>
<script type="application/javascript" src="https://a.pemsrv.com/popunder1000.js"></script>

    <iframe allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="100%" src="{{selected_video}}" width="100%" id="miVideo"></iframe>
</body>
</html>