{% extends "base.html" %}

{% block headscript %}
<link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
    {% if ad == True %}
    <script>
        (function (s, u, z, p) {
            s.src = u, s.setAttribute('data-zone', z), p.appendChild(s);
        })(document.createElement('script'), 'https://zovidree.com/tag.min.js', 7753891, document.body || document.documentElement);
    </script>
    {% endif %}
{% endblock %}

{% block content %}
{% if current_user.id == video_info.user_id%}
<div class="buttons is-centered mt-4">
    <div class="columns is-mobile is-centered">
        <div class="column is-narrow">
            <a href="{{ url_for('view_pages.edit', prefix=video_info.baseurl)}}" class="button is-warning is-fullwidth">
                Edit Video
            </a>
        </div>
    </div>
</div>
{% endif %}
{% if video_info.name != ''%}
<div class="columns is-centered mt-4">
    <div class="column is-narrow">
        <h2 class="title is-4">{{ video_info.name }}</h2>
    </div>
</div>
{% endif %}
    <div class="video-container" style="max-width: 100%; position: relative; padding-bottom: 56.25%; height: 0;">
        <video id="my-video" class="video-js" controls preload="auto" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" data-setup="{}">
            <source src="{{ selected_video }}" type="video/mp4" />
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>.
            </p>
        </video>
    </div>

    </br>
    <div class="buttons is-centered mt-4">
        <div class="columns is-mobile is-centered">
            <div class="column is-narrow">
                <a href="{{ request.path }}.mp4" class="button is-info is-fullwidth">
                    Download Video
                </a>
            </div>
            <div class="column is-narrow">
                <a href="{{ url_for('upload.upload_video') }}" class="button is-primary is-fullwidth">
                    Upload and Earn
                </a>
            </div>
        </div>
    </div>
    <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
{% endblock %}

